h1{
    margin: 20px;
    color: teal;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: teal;
    height: 30px;
    font-size: medium;
    color: white;
    text-align: center;
    margin-top: auto;
}